button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

body {
  color: var(--text-prime-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

:root {
  --text-prime-color: #757575;
  --text-title-color: #212121;
  --text-white-color: #ffffff;
  --accent-color: #2196f3;
  --bg-prime-color: #ffffff;
  --bg-second-color: #f5f4fa;
  --bg-hero-footer: #2f303a;
  --social-netw-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn {
  font-family: inherit;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
}

.hero__btn, .form__btn, .modal__btn {
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--text-white-color);
  background-color: var(--accent-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition: background-color 250ms var(--timing-function);
}

.hero__btn:hover, .form__btn:hover, .modal__btn:hover, .hero__btn:focus, .form__btn:focus, .modal__btn:focus {
  background-color: #188ce8;
}

.section .section__title, .hero .hero__title, .feature-list__title, .title__join {
  text-transform: uppercase;
  color: var(--text-title-color);
}

.logo {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo .logo_black {
  margin-right: 93px;
  color: #000000;
}

.logo .logo_white {
  color: var(--text-white-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section .section__title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: none;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header .header__flex {
  display: flex;
  align-items: center;
}

.site-nav {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}

.site-nav .site-nav__link {
  position: relative;
  display: block;
  color: var(--text-title-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms var(--timing-function);
}

.site-nav .site-nav__link:hover, .site-nav .site-nav__link:focus, .site-nav .site-nav__link:active, .site-nav .site-nav__link.site-nav__link_current {
  color: var(--accent-color);
}

.navigation {
  display: flex;
  align-items: center;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 0%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
}

.site-nav__link.site-nav__link_current::after {
  opacity: 1;
  width: 100%;
}

.contacts {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
}

.contacts .contacts__icon {
  display: inline-block;
  margin-right: 10px;
  fill: var(--text-prime-color);
  transition: fill 250ms var(--timing-function);
}

.contacts .contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  display: inline-flex;
  align-items: center;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--text-prime-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms var(--timing-function);
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon, .contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.hero {
  padding: 200px 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  min-height: 600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/BG_Hero.jpg");
  background-color: var(--bg-hero-footer);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero .hero__title {
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.37;
  letter-spacing: 0.06em;
  color: var(--text-white-color);
}

.feature-list {
  display: flex;
  line-height: 1.71;
}

.feature-list__title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.feature-list__item {
  width: 270px;
}

.feature-list__item:not(:last-child) {
  margin-right: 30px;
}

.feature-list__text {
  color: var(--text-prime-color);
}

.feature-list__box {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: var(--bg-second-color);
}

.section--no-padding-top {
  padding-top: 0;
  padding-bottom: 94px;
}

.service-list {
  display: flex;
}

.service-list__item:not(:last-child) {
  margin-right: 30px;
}

.service-list__item {
  position: relative;
}

.service-list__overlay {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  justify-content: center;
  text-transform: uppercase;
  color: var(--text-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.section--bg-grey {
  background-color: var(--bg-second-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.17;
}

.team-list__item:not(:last-child) {
  margin-right: 30px;
}

.team-list__box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-title-color);
  text-align: center;
  margin-bottom: 10px;
}

.team-list__text {
  font-size: 16px;
  color: var(--text-prime-color);
  text-align: center;
  margin-bottom: 16px;
}

.team-list__shadow {
  background-color: var(--text-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  transition: box-shadow 250ms var(--timing-function);
}

.team-list__shadow:hover, .team-list__shadow:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.socials {
  display: flex;
  justify-content: center;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  display: flex;
  align-items: center;
  width: 44px;
  height: 44px;
  justify-content: center;
  fill: var(--social-netw-color);
  background-color: var(--bg-prime-color);
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
}

.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
  fill: var(--text-white-color);
}

.socials__link_white_fill {
  fill: var(--text-white-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.clients-list__item {
  flex-basis: calc(100% / 6 - 30px);
  margin-left: 30px;
}

.clients-list__links {
  display: flex;
  align-items: center;
  width: 170px;
  height: 92px;
  justify-content: center;
  fill: var(--social-netw-color);
  background-color: var(--bg-prime-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function), fill 250ms var(--timing-function);
}

.clients-list__links:hover, .clients-list__links:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  text-align: center;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__btn {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--text-title-color);
  border-radius: 4px;
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.filter__btn:hover, .filter__btn:focus {
  background-color: var(--accent-color);
  color: var(--text-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.project {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.project__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.project__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__link:hover, .project__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__title {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-title-color);
}

.project__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-prime-color);
}

.project__more {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.project__overlay {
  position: relative;
  overflow: hidden;
}

.project__overlay .project__overlay_popup {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.03em;
  font-size: 18px;
  line-height: 1.55;
  color: var(--text-white-color);
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.project__item:hover .project__overlay .project__overlay_popup,
.project__item:focus .project__overlay .project__overlay_popup {
  transform: translateY(0%);
}

.project__link:hover .project__overlay .project__overlay_popup,
.project__link:focus .project__overlay .project__overlay_popup {
  transform: translateY(0%);
}

.footer {
  background-color: var(--bg-hero-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .footer__flex {
  display: flex;
  align-items: baseline;
}

.address {
  font-style: normal;
}

.address .address__item:not(:last-child) {
  color: var(--text-white-color);
  margin-bottom: 9px;
}

.address .address__mail {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--timing-function);
}

.address .address__mail:hover, .address .address__mail:focus {
  color: var(--accent-color);
}

.coordinates {
  flex-grow: 1;
}

.coordinates .coordinates__pos {
  display: block;
  margin-right: 0;
  margin-bottom: 20px;
}

.title__join {
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--text-white-color);
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.form__input {
  width: 358px;
  height: 50px;
  margin-right: 8px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--text-white-color);
  background: transparent;
  transition: border-color 250ms var(--timing-function);
}

.form__input::placeholder {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form__input:focus {
  border-color: var(--bg-prime-color);
}

.form__btn {
  display: inline-flex;
  align-items: center;
  padding-left: 29px;
}

.form__icon {
  display: inline-block;
  margin-left: 9px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 300ms var(--timing-function), visibility 300ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 528px;
  height: 581px;
  background-color: var(--bg-prime-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
  transition: transform 300ms var(--timing-function);
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--bg-prime-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: border 300ms var(--timing-function);
}

.modal__close:hover, .modal__close:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.modal__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
  color: var(--text-title-color);
}

.form-modal__field {
  margin-bottom: 10px;
  transition: fill 250ms var(--timing-function);
}

.form-modal__field:focus-within {
  fill: var(--accent-color);
}

.form-modal__input {
  width: 100%;
  height: 40px;
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}

.form-modal__field .form-modal__input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form-modal__area {
  display: block;
  width: 100%;
  resize: none;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}

.form-modal__area::placeholder {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-modal__comment .form-modal__area:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form-modal__wrap {
  position: relative;
  display: block;
}

.form-modal__comment {
  margin-bottom: 20px;
}

.form-modal__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
}

.form-modal__lable {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.form-modal__checkbox {
  margin-bottom: 30px;
}

.form-modal__check-lable .form-modal__agreement {
  text-decoration-line: underline;
  color: var(--accent-color);
  padding-left: 4px;
}

.form-modal__check-lable {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.7;
  cursor: pointer;
}

.form-modal__icon-check {
  width: 16px;
  height: 15px;
  border: 2px solid var(--text-title-color);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.form-modal__checkbox_cheked:checked + .form-modal__check-lable > .form-modal__icon-check {
  border: none;
  fill: var(--accent-color);
}

.modal__btn {
  display: block;
  margin: auto;
}
/*# sourceMappingURL=main.css.map */