button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

body {
  color: var(--text-prime-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

:root {
  --text-prime-color: #757575;
  --text-title-color: #212121;
  --text-white-color: #ffffff;
  --accent-color: #2196f3;
  --bg-prime-color: #ffffff;
  --bg-second-color: #f5f4fa;
  --bg-hero-footer: #2f303a;
  --social-netw-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn {
  font-family: inherit;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
}

.hero .hero__btn, .form__btn, .modal__btn {
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--text-white-color);
  background-color: var(--accent-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition: background-color 250ms var(--timing-function);
}

.hero .hero__btn:hover, .form__btn:hover, .modal__btn:hover, .hero .hero__btn:focus, .form__btn:focus, .modal__btn:focus {
  background-color: #188ce8;
}

.section .section__title, .hero .hero__title, .feature-list__title, .title__join {
  text-transform: uppercase;
  color: var(--text-title-color);
}

.logo {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo .logo_black {
  margin-left: 0;
  margin-right: 0;
  color: #000000;
}

.logo .logo_white {
  color: var(--text-white-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-right: 93px;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section .section__title {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: none;
}

@media screen and (min-width: 1200px) {
  .section .section__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
  padding: 10px 15px;
}

.site-nav {
  display: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.site-nav .site-nav__link {
  position: relative;
  display: block;
  color: var(--text-title-color);
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}

.site-nav .site-nav__link:hover, .site-nav .site-nav__link:focus, .site-nav .site-nav__link:active, .site-nav .site-nav__link.site-nav__link_current {
  color: var(--accent-color);
}

.site-nav__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 0%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
}

.site-nav__link.site-nav__link_current::after {
  opacity: 1;
  width: 100%;
}

.menu-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: var(--text-white-color);
  padding: 48px 40px;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms var(--timing-function);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-toggle {
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;
  transition: color 250ms var(--timing-function);
}

.menu-toggle:hover .contacts__icon,
.menu-toggle:focus .contacts__icon, .menu-toggle:hover, .menu-toggle:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.js-close-menu {
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu-mob {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.menu-mob .menu-mob__item:not(:last-child) {
  margin-bottom: 38px;
}

.menu-mob .menu-mob__link {
  text-decoration: none;
  color: var(--text-title-color);
  transition: color 250ms var(--timing-function);
}

.menu-mob .menu-mob__link:hover, .menu-mob .menu-mob__link:focus, .menu-mob .menu-mob__link:active, .menu-mob .menu-mob__link.menu-mob__link_current {
  color: var(--accent-color);
}

.wrapper {
  position: absolute;
  bottom: 0;
  margin-bottom: 48px;
}

.menu-contacts .menu-contacts__link--blue {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);
}

.menu-contacts__link {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 64px;
  text-decoration: none;
  color: var(--text-prime-color);
  transition: color 250ms var(--timing-function);
}

.menu-contacts__link:hover, .menu-contacts__link:focus {
  color: var(--accent-color);
}

.menu-contacts__item--mb {
  margin-bottom: 32px;
}

.menu-networks {
  display: flex;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.menu-networks .menu-networks__link {
  text-decoration: none;
  color: var(--text-prime-color);
  transition: color 250ms var(--timing-function);
}

.menu-networks .menu-networks__link:hover, .menu-networks .menu-networks__link:focus {
  color: var(--accent-color);
}

.menu-networks__item:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.contacts {
  display: none;
}

.contacts .contacts__icon {
  display: inline-block;
  margin-right: 10px;
  fill: var(--text-prime-color);
  transition: fill 250ms var(--timing-function);
}

.contacts .contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--text-prime-color);
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon, .contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.hero {
  max-width: 1600px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  flex-grow: 1;
  padding: 118px 0;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/hero-mob1x-min.jpg");
  background-color: var(--bg-hero-footer);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/hero-mob2x-min.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    min-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/hero-tab1x-min.jpg");
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/hero-tab2x-min.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    min-width: 1200px;
    padding: 200px 0px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/hero-desk1x-min.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/hero-desk2x-min.jpg");
  }
}

.hero .hero__title {
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  letter-spacing: 0.06em;
  color: var(--text-white-color);
}

@media screen and (min-width: 1200px) {
  .hero .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.37;
    letter-spacing: 0.06em;
  }
}

.feature-list {
  line-height: 1.71;
}

@media screen and (min-width: 768px) {
  .feature-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .feature-list {
    justify-content: center;
  }
}

.feature-list__title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .feature-list__title {
    text-align: left;
  }
}

.feature-list__item {
  width: 100%;
}

.feature-list__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .feature-list__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .feature-list__item {
    max-width: 270px;
    flex-basis: calc(100% / 4 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

.feature-list__text {
  color: var(--text-prime-color);
}

.feature-list__box {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: var(--bg-second-color);
  border-radius: 4px;
}

.section--no-padding-top {
  padding-top: 0;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .section--no-padding-top {
    display: none;
  }
}

.service-list {
  display: flex;
  justify-content: center;
}

.service-list__item:not(:last-child) {
  margin-right: 30px;
}

.service-list__item {
  position: relative;
}

.service-list__overlay {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  justify-content: center;
  text-transform: uppercase;
  color: var(--text-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.section--bg-grey {
  background-color: var(--bg-second-color);
}

.team-list {
  line-height: 1.17;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    justify-content: center;
  }
}

.team-list__item {
  width: 100%;
  margin-bottom: 30px;
}

.team-list__box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-title-color);
  text-align: center;
  margin-bottom: 10px;
}

.team-list__text {
  font-size: 16px;
  color: var(--text-prime-color);
  text-align: center;
  margin-bottom: 16px;
}

.team-list__shadow {
  background-color: var(--text-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  transition: box-shadow 250ms var(--timing-function);
}

.team-list__shadow:hover, .team-list__shadow:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.socials {
  display: flex;
  justify-content: center;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  display: flex;
  align-items: center;
  width: 44px;
  height: 44px;
  justify-content: center;
  fill: var(--social-netw-color);
  background-color: var(--bg-prime-color);
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
}

.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
  fill: var(--text-white-color);
}

.socials__link_white_fill {
  fill: var(--text-white-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.clients-list__item {
  flex-basis: calc(100% / 6 - 30px);
  margin-left: 30px;
}

.clients-list__links {
  display: flex;
  align-items: center;
  width: 170px;
  height: 92px;
  justify-content: center;
  fill: var(--social-netw-color);
  background-color: var(--bg-prime-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function), fill 250ms var(--timing-function);
}

.clients-list__links:hover, .clients-list__links:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  text-align: center;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__btn {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--text-title-color);
  border-radius: 4px;
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.filter__btn:hover, .filter__btn:focus {
  background-color: var(--accent-color);
  color: var(--text-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.project {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.project__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.project__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__link:hover, .project__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__title {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-title-color);
}

.project__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-prime-color);
}

.project__more {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.project__overlay {
  position: relative;
  overflow: hidden;
}

.project__overlay .project__overlay_popup {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.03em;
  font-size: 18px;
  line-height: 1.55;
  color: var(--text-white-color);
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.project__item:hover .project__overlay .project__overlay_popup,
.project__item:focus .project__overlay .project__overlay_popup {
  transform: translateY(0%);
}

.project__link:hover .project__overlay .project__overlay_popup,
.project__link:focus .project__overlay .project__overlay_popup {
  transform: translateY(0%);
}

.footer {
  background-color: var(--bg-hero-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .footer__flex {
  display: flex;
  align-items: baseline;
}

.address {
  font-style: normal;
}

.address .address__item:not(:last-child) {
  color: var(--text-white-color);
  margin-bottom: 9px;
}

.address .address__mail {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--timing-function);
}

.address .address__mail:hover, .address .address__mail:focus {
  color: var(--accent-color);
}

.coordinates {
  flex-grow: 1;
}

.coordinates .coordinates__pos {
  display: block;
  margin-right: 0;
  margin-bottom: 20px;
}

.title__join {
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--text-white-color);
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.form__input {
  width: 358px;
  height: 50px;
  margin-right: 8px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--text-white-color);
  background: transparent;
  transition: border-color 250ms var(--timing-function);
}

.form__input::placeholder {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form__input:focus {
  border-color: var(--bg-prime-color);
}

.form__btn {
  display: inline-flex;
  align-items: center;
  padding-left: 29px;
}

.form__icon {
  display: inline-block;
  margin-left: 9px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 300ms var(--timing-function), visibility 300ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 100%;
  background-color: var(--bg-prime-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
  transition: transform 300ms var(--timing-function);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--bg-prime-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: border 300ms var(--timing-function);
}

.modal__close:hover, .modal__close:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.modal__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
  color: var(--text-title-color);
}

@media screen and (min-width: 1200px) {
  .modal__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.03em;
  }
}

.form-modal__field {
  margin-bottom: 10px;
  transition: fill 250ms var(--timing-function);
}

.form-modal__field:focus-within {
  fill: var(--accent-color);
}

.form-modal__input {
  width: 100%;
  height: 40px;
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}

.form-modal__field .form-modal__input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form-modal__area {
  display: block;
  width: 100%;
  resize: none;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}

.form-modal__area::placeholder {
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

@media screen and (min-width: 1200px) {
  .form-modal__area::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.01em;
  }
}

.form-modal__comment .form-modal__area:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form-modal__wrap {
  position: relative;
  display: block;
}

.form-modal__comment {
  margin-bottom: 20px;
}

.form-modal__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
}

.form-modal__lable {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.form-modal__checkbox {
  position: relative;
  margin-bottom: 30px;
}

.form-modal__check-lable .form-modal__agreement {
  text-decoration-line: underline;
  color: var(--accent-color);
}

.form-modal__check-lable {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding-left: 22px;
}

@media screen and (min-width: 1200px) {
  .form-modal__check-lable {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    padding-left: 36px;
  }
}

.form-modal__icon-check {
  position: absolute;
  top: 25%;
  transform: translateY(-50%);
  left: 0;
  border: 2px solid var(--text-title-color);
  border-radius: 3px;
}

.form-modal__checkbox_cheked:checked + .form-modal__icon-check {
  border: none;
  background-color: var(--accent-color);
}

@media screen and (min-width: 440px) {
  .form-modal__icon-check {
    top: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .form-modal__icon-check {
    left: 13px;
  }
}

.modal__btn {
  display: block;
  margin: auto;
}
/*# sourceMappingURL=main.css.map */