.contacts {
  @include dispflex();
  flex-grow: 1;
  justify-content: flex-end;
  .contacts__icon {
    display: inline-block;
    margin-right: 10px;
    fill: var(--text-prime-color);

    transition: fill 250ms var(--timing-function);
  }

  .contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}
.contacts__link {
  @include dispflex($df: inline-flex);

  list-style: none;
  @include font($fw: 500, $lh: 1.17, $ls: 0.02em);
  color: var(--text-prime-color);
  text-decoration: none;

  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms var(--timing-function);

  &:hover .contacts__icon,
  &:focus .contacts__icon,
  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}
