.header {
  position: relative;
  @include dispflex();
  justify-content: space-between;

  border-bottom: 1px solid #ececec;
  padding: 10px 15px;
  .header__flex {
    // @include dispflex();
  }
}
.site-nav {
  display: none;
  @include font($fz: 14px, $fw: 500, $lh: 1.17, $ls: 0.02em);
  // @include dispflex();
  .site-nav__link {
    position: relative;

    display: block;
    color: var(--text-title-color);
    text-decoration: none;
    // padding-top: 32px;
    // padding-bottom: 32px;

    transition: color 250ms var(--timing-function);
    &:hover,
    &:focus,
    &:active,
    &.site-nav__link_current {
      color: var(--accent-color);
    }
  }
}
.navigation {
  // @include dispflex();
}

.site-nav__item:not(:last-child) {
  // margin-right: 50px;
}

.site-nav__link::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: -1px;

  display: block;
  width: 0%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;

  opacity: 0;
}
.site-nav__link.site-nav__link_current::after {
  opacity: 1;
  width: 100%;
}

// _____________MOBILE_MENU______
.menu-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: var(--text-white-color);
  padding: 48px 40px;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms var(--timing-function);

  &.is-open {
    transform: translateX(0);
    // display: block;
  }
}
.menu-toggle {
  // display: block;
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;

  transition: color 250ms var(--timing-function);
  &:hover .contacts__icon,
  &:focus .contacts__icon,
  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.js-close-menu {
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu-mob {
  @include font(40px, 500, 1.18, 0.02em);
  .menu-mob__item:not(:last-child) {
    margin-bottom: 38px;
  }
  .menu-mob__link {
    text-decoration: none;
    color: var(--text-title-color);
    transition: color 250ms var(--timing-function);
    &:hover,
    &:focus,
    &:active,
    &.menu-mob__link_current {
      color: var(--accent-color);
    }
  }
}
.menu-flex {
  display: flex;
  flex-direction: column;
}
.menu-contacts {
  .menu-contacts__link--blue {
    @include font(34px, 500, 1.18, 0.02em);
    text-decoration: none;
    color: var(--accent-color);
    margin-top: auto;
    margin-bottom: 34px;
  }
}
