.form-modal__checkbox {
  position: relative;
  margin-bottom: 30px;
}
.form-modal__check-lable .form-modal__agreement {
  text-decoration-line: underline;
  color: var(--accent-color);
}

.form-modal__check-lable {
  @include font($fz: 12px, $fw: 400, $lh: 1.16, $ls: 0.03em);
  cursor: pointer;
  padding-left: 22px;
  @media screen and (min-width: 1200px) {
    @include font($fz: 14px, $fw: 400, $lh: 1.71, $ls: 0.03em);
    padding-left: 36px;
  }
}
.form-modal__icon-check {
  position: absolute;
  top: 25%;
  transform: translateY(-50%);
  left: 0;
  border: 2px solid var(--text-title-color);
  border-radius: 3px;
  .form-modal__checkbox_cheked:checked + & {
    border: none;
    background-color: var(--accent-color);
  }
  @media screen and (min-width: 440px) {
    top: 50%;
  }

  @media screen and (min-width: 1200px) {
    left: 13px;
  }
}

.modal__btn {
  @extend %button;
  display: block;
  margin: auto;
}
