.logo {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  @include font($fz: 26px, $fw: 700, $lh: 1.17);
  text-decoration: none;
  .logo_black {
    margin-right: 93px;
    color: #000000;
  }
  .logo_white {
    color: var(--text-white-color);
  }
}
