:root {
  --text-prime-color: #757575;
  --text-title-color: #212121;
  --text-white-color: #ffffff;
  --accent-color: #2196f3;
  --bg-prime-color: #ffffff;
  --bg-second-color: #f5f4fa;
  --bg-hero-footer: #2f303a;
  --social-netw-color: #afb1b8;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
